* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.table {
  display: flex;
  flex-direction: column;
  table {
    width: 100%;
    max-width: 900px;
    margin: 2px auto;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid #000;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: rgb(51, 145, 145);
    }
    td {
      background-color: rgb(255, 247, 221);
      button {
        padding: 5px 10px;
        background-color: brown;
        color: #fff;
        border: 1px solid brown;
        border-radius: 5px;
      }
    }
  }
}
