#footer{
    margin-top: 70px;
    background-color: #1e1e1e;
    padding-top: 70px;
    padding-bottom: 50px;
    .footer{
        p{
            text-align: center;
            opacity: 0.7;
            color: white;
            font-weight: 200;
            span{
                color: #3177b2;
            }
        }
    }
}